REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_PASS = 'whatever_your_redis_pass_is or None'

SUBREDDIT = 'subreddit'
LIMIT = 10
USER_AGENT = 'Subarchive default user agent (change this)'
